.idea

# ================ Frontend ================

# dependencies
/frontend/.pnp
/frontend/.pnp.js
/frontend/node_modules

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/package-lock.json

# ================ Backend ================
/backend/storage

/backend/.phpunit.cache
/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/app/media
/backend/storage/*.key
/backend/vendor
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/auth.json
/backend/npm-debug.log
/backend/yarn-error.log
/backend/.fleet
/backend/.idea
/backend/.vscode

# =============== Payment Service ================
/payment-service/dist
/payment-service/build
/payment-service/node_modules

# Logs
/payment-service/logs
/payment-service/*.log
/payment-service/npm-debug.log*
/payment-service/pnpm-debug.log*
/payment-service/yarn-debug.log*
/payment-service/yarn-error.log*
/payment-service/lerna-debug.log*

# OS
/payment-service/.DS_Store

# Tests
/payment-service/coverage
/payment-service/.nyc_output

# IDEs and editors
/payment-service/.idea
/payment-service/.project
/payment-service/.classpath
/payment-service/.c9/
/payment-service/*.launch
/payment-service/.settings/
/payment-service/*.sublime-workspace

# IDE - VSCode
/payment-service/.vscode/*
/payment-service/!.vscode/settings.json
/payment-service/!.vscode/tasks.json
/payment-service/!.vscode/launch.json
/payment-service/!.vscode/extensions.json

# dotenv environment variable files
/payment-service/.env
/payment-service/.env.development.local
/payment-service/.env.test.local
/payment-service/.env.production.local
/payment-service/.env.local

# temp directory
/payment-service/.temp
/payment-service/.tmp

# Runtime data
/payment-service/pids
/payment-service/*.pid
/payment-service/*.seed
/payment-service/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
/payment-service/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

